{% block content %}
{% include 'header.html' %}
{% load static %}


    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/J5.JPG' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="text-white text-uppercase mb-md-3">VISUALLY  IMPAIRED TEACHER</h1>
                            <h5 class="display-3 text-white mb-md-4">SUPPORT SYSTEM</h5>
                            <!-- <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn Mo</a> -->
                        </div>
                    </div>
                </div>
               
                        <!-- <p class="m-0 p-4">Amet dolores labore magna et amet tempor dolor et dolor. Et sit ipsum et eos rebum labore ea labore sea. Et sed elitr labore sed labore. Lorem et lorem amet sed sed kasd ipsum rebum</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
    {% include 'footer.html' %}
    {% endblock %}  


